<article class="news">
	<header class="titre">
		<h2 class="{article_tags_plain}"><a class="tooltip" href="{article_lien}" title="<b>Résumé :</b><em> {article_chapo}</em>">{article_titre}</a></h2>
		<p class="date"><i class="fa fa-calendar-o"></i> Publié le {article_date} - <a class="tooltip" href="{article_lien}#commentaires" title="{nombre_commentaires} à lire"><i class="fa fa-comments-o"></i>  {nombre_commentaires}</a></p>
	</header>
	<!--<p class="chapo">{article_chapo}</p>-->
	{article_contenu}
	<p class="tags"><i class="fa fa-tag"></i>  Tags de l'article : {article_tags}</p>
</article>