<article class="lien" id="{lien_permalink}">
	<header class="titre">
		<h2><a class="tooltip" href="index.php?mode=links&amp;id={lien_permalink}" title="{lien_titre}"><i class="icon-globe"></i>  {lien_id}</a> - <a class="tooltip" href="{lien_url}" rel="nofollow" title="Se rendre sur {lien_titre}">{lien_titre}</a></h2>
		<p class="date">Déposé le <i class="icon-time"></i>  {lien_date} à {lien_heure} par <i class="icon-user"></i>  {lien_auteur}</p>
	</header>
	<p>{lien_description}</p>
	<p class="permalien"><i class="icon-link"></i>  {lien_url}</p>
</article>